body{
    background-color: #b13a38;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;

  }

.input-h{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.input-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.translation-h{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.translation-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.output-h{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.output-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

a:hover {
    background-color: #872928;
    font-size: 18px;
  }
  
  @keyframes fade-in-slow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  img {
    max-width: 50%; /* Ensure image is responsive */
  }
  
  /* Splash screen animations should stay unaffected, and this is the new animation for .mold */
  .mold {
  animation: moldAnimation 50s ease-in-out infinite;
  animation-duration: 50s;
  }
  
  /* Define the animation you want for the mold */
  @keyframes moldAnimation {
  0% {
  transform: scale(1);
  opacity: 0;
  }
  
  }
  30% {
  transform: scale(1);
  opacity: 0.2;
  
  }
  