* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'passion_oneregular';
    src: url('passionone-regular-webfont.woff2') format('woff2'),
         url('passionone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'passion_oneblack';
    src: url('passionone-black-webfont.woff2') format('woff2'),
         url('passionone-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'passion_oneblack';
    src: url('passionone-black-webfont.woff2') format('woff2'),
         url('passionone-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




    body {
        background:pink;
        font-family: "Passion One", sans-serif;
        font-size:120%;
    }

img {
    max-width:100%
}

h1 {
    font-family: "Jacquarda Bastarda 9", serif;

}

.special {
    font-family:'passion_oneblack' , monospace;
}