img {
    width:200px;
    height: 200px;
    
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: powderblue;
}
h2 {
    font-size: 20px;
}

.tabs {
    color:black
}
